@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
    @apply lg:w-[80%] w-[90%] mx-auto
}

.my-btn{
    @apply px-4 py-1 bg-green-600 text-white text-lg rounded-md
}

.my-swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 60vh !important;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-green-300 rounded-lg
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }